In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kapaa,US,78.80,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,5,Rikitea,PF,77.11,scattered clouds,-23.12,-134.97,Pension Maro'i
2,6,Port Elizabeth,ZA,66.20,clear sky,-33.92,25.57,39 On Nile Guest House
3,8,Atar,MR,74.34,clear sky,20.52,-13.05,Oumou Elghoura
4,9,East London,ZA,71.13,clear sky,-33.02,27.91,Tu Casa
...,...,...,...,...,...,...,...,...
174,544,Raymondville,US,75.20,overcast clouds,26.48,-97.78,La Quinta Inn & Suites by Wyndham Raymondville
175,547,Yala,TH,74.75,overcast clouds,6.33,101.25,งานแต่ง Murnee - Wahid
176,552,San Lawrenz,MT,63.00,overcast clouds,36.06,14.20,San Andrea Hotel
177,554,Rajgarh,IN,79.57,broken clouds,28.63,75.38,Amar Villa
178,555,Mizdah,LY,70.41,clear sky,31.45,12.98,محمدالمبروك الاريقط

In [4]:
#initiatie list of cities to travel to
cities_traveled = ['Sabaudia','Bose','Saint-Francois','Saint-Denis']

In [5]:
#filter df down to those cities
cities_traveled_df=city_data_df[city_data_df["City"].isin(cities_traveled)]
cities_traveled_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,210,Bose,IT,63.0,overcast clouds,45.46,8.01,Locanda Borgo Antico
91,273,Saint-Francois,FR,62.6,broken clouds,46.42,3.91,Manoir Du Bonheur
129,391,Saint-Denis,FR,64.0,scattered clouds,48.92,2.33,Appart'City Paris Clichy Mairie - Appart Hôtel
153,476,Sabaudia,IT,61.0,broken clouds,41.30,13.03,Oasi di Kufra

In [11]:
# create individual dfs for each city
Sabaudia_df=cities_traveled_df[cities_traveled_df["City"]=='Sabaudia']
Bose_df=cities_traveled_df[cities_traveled_df["City"]=='Bose']

Saint_Francois_df= cities_traveled_df[cities_traveled_df["City"]=='Saint-Francois']
Saint_Denis_df =cities_traveled_df[cities_traveled_df["City"]=='Saint-Denis']

In [12]:
#extract lats to lists
Sabaudia_lat = Sabaudia_df['Lat'].tolist()
Bose_lat = Bose_df["Lat"].tolist()
Saint_Francois_lat = Saint_Francois_df["Lat"].tolist()
Saint_Denis_lat = Saint_Denis_df["Lat"].tolist()

# extract lngs to lists
Sabaudia_lng = Sabaudia_df['Lng'].tolist()
Bose_lng = Bose_df["Lng"].tolist()
Saint_Francois_lng = Saint_Francois_df["Lng"].tolist()
Saint_Denis_lng =Saint_Denis_df["Lng"].tolist()

#combine lists
Sabaudia_lat_lng = Sabaudia_lat + Sabaudia_lng
Bose_lat_lng = Bose_lat + Bose_lng
Saint_Francois_lat_lng =Saint_Francois_lat + Saint_Francois_lng
Saint_Denis_lat_lng =Saint_Denis_lat + Saint_Denis_lng

Sabaudia_lat_lng = tuple(Sabaudia_lat_lng)
Bose_lat_lng = tuple(Bose_lat_lng)
Saint_Francois_lat_lng = tuple(Saint_Francois_lat_lng)
Saint_Denis_lat_lng = tuple(Saint_Denis_lat_lng)

In [13]:
#generate map with directions layer
fig=gmaps.figure()
road_trip=gmaps.directions_layer(Sabaudia_lat_lng,Saint_Denis_lat_lng,waypoints=[Bose_lat_lng,Saint_Francois_lat_lng], travel_mode='DRIVING')
fig.add_layer(road_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# info for pop up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [15]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in cities_traveled_df.iterrows()]

In [16]:
# Add a pop-up marker for each desired city.
locations = cities_traveled_df[["Lat", "Lng"]]
max_temp = cities_traveled_df["Max Temp"]
fig = gmaps.figure(center=(43.0, 0), zoom_level=4.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))